@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fucshia:hsl(333, 100%, 43%);
    --fucshia2:hsla(333, 100%, 43%, 0.548);
    --white:hsl(0, 0%, 100%);
    --whitetransparent:hsla(0, 0%, 100%, 0.741);
    --gray:hsl(0, 8%, 91%);
    --blue:hsl(227, 65%, 16%);
    --blackTransparent:hsla(0, 0%, 0%, 0.822);
    --darkgray:hsl(0, 1%, 50%);
    --darkgray2:hsl(0, 1%, 22%);
}

body, html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
}


footer{
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    font-weight: 700;
}

.vista1{
    width: 100vw;
    height: 100vh;
}

header{
    position: fixed;
    height: 80px;
    display: flex;
    width: 100%;
    background-color: var(--blue);
    justify-content: space-between;
}

.logo{
    display: flex;
    margin-left: 100px;
    color: var(--white);

}

.logo-png{
    margin-top: 10px;
    height: 60px;
    width: 60px;
    background-image:url(asset/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}


.logo p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding-right: 100px;
}

ul{
    padding-left: 30px;
    list-style: none;
    list-style-type: none;
    padding-bottom: 5px;
}

li{
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
}

header a{
    text-decoration: none;
    color: var(--fucshia);

}

header a:hover{
    color: var(--white);
    transition: color 0.8s;
}

.imagen-principal{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(asset/background__welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.imagen-principal h1{
    color: var(--white);
    font-size: 7em;
    text-align: center;
}

.imagen-principal button{
    height: 60px;
    width: 290px;
    border-radius: 50px;
    font-size: 1.3em;
    background-color: var(--fucshia);
    color: white;
    border: 0px;
}

.imagen-principal button:hover{
    background-color: var(--white);
    color: var(--fucshia);
    border: 1px solid var(--fucshia);
}


.vista2{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-auto-rows: (1fr);
    background-color: var(--gray);
    padding-top: 1%;
}

.vista2-contenido{
    font-size: 1.2em;
    text-align: right;
    padding-right: 40px;
}

.vista2-contenido P{
    padding-bottom: 50px;
}

.vista2-contenido button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 60px;
    width: 310px;
    border-radius: 50px;
    font-size: 1em;
    background-color: var(--fucshia);
    color: white;
    border: 0px;
    margin-top: 60px;
}

.vista2-contenido button:hover{
    background-color: var(--white);
    color: var(--fucshia);
    border: 1px solid var(--fucshia);
}

.vista2-habilidades{
    font-size: 1.2em;
}

.vista2-foto img{
    width: 100%;
    height: 55%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.vista2-habilidades div:nth-child(odd){
    height: 35px;
    width: 90%;
    background-color: var(--darkgray2);
    margin-bottom: 20px;
}

.p-90{
    height: 60px;
    width: 90%!important;
    background-color: var(--darkgray)!important;
}

.p-85{
    height: 60px;
    width: 85%!important;
    background-color: var(--darkgray)!important;
}
.p-80{
    height: 60px;
    width: 80%!important;
    background-color: var(--darkgray)!important;
}

.p-75{
    height: 60px;
    width: 75%!important;
    background-color: var(--darkgray)!important;
}

.p-60{
    height: 60px;
    width: 60%!important;
    background-color: var(--darkgray)!important;
}

.titulos{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.vista3{
    width: 80vw;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    text-align: center;
    font-size: 1.3em;
    grid-template-areas:
            "a a a"
            "b c d"
            "e f g";
    gap:50px;
}

.servicios-ofrecidos{
    padding-top: 20px;
    grid-area: a;
}

.programcion{
    grid-area: b;
}
.diseño-web{
    grid-area: c;
}
.web-hosting{
    grid-area: d;
}
.seo{
    grid-area: e;
}
.smo{
    grid-area: f;
}
.wpo{
    grid-area: g;
}

.vista3 svg{
    fill: var(--fucshia);
    transform: scale(1.3);
    margin-bottom: 5px;
}

.servicios-ofrecidos-hr{
    border:1px solid var(--fucshia);
    width: 20%;
    margin: 0 auto;
}

.servicios{
    padding-top: 5px;
    padding-bottom: 5px;
}

.vista4{
    background-color: var(--gray);
    text-align: center;
    width: 100vw;
    font-size: 1.3em;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.servicios-ofrecidos-vista4{
    padding-top: 20px;
    padding-bottom: 40px;
}

.servicios-ofrecidos-vista4 .servicios-ofrecidos-hr{
    width: 18%;
}

.grid-portafolios{
    margin: 0 auto;
    display: grid;
    width: 60%;
    height: 90%;
    grid-template-areas:
    "a b c"
    "d e f";
    margin-bottom: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
}


.portafolio1{
    grid-area:a;
    background-image: url(asset/portfolio-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portafolio2{
    grid-area:b;
    background-image: url(asset/portfolio-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portafolio3{
    grid-area:c;
    background-image: url(asset/portfolio-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portafolio4{
    grid-area:d;
    background-image: url(asset/portfolio-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portafolio5{
    grid-area:e;
    background-image: url(asset/portfolio-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portafolio6{
    grid-area:f;
    background-image: url(asset/portfolio-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portafolio-display1{
    display: none;
    color: var(--white);
    background-color: var(--fucshia2);
    height: 100%;
    padding: 10px;
}
.portafolio-display2{
    display: none;
    color: var(--white);
    background-color: var(--fucshia2);
    height: 100%;
    padding: 10px;
}
.portafolio-display3{
    display: none;
    color: var(--white);
    background-color: var(--fucshia2);
    height: 100%;
    padding: 10px;
}
.portafolio-display4{
    display: none;
    color: var(--white);
    background-color: var(--fucshia2);
    height: 100%;
    padding: 10px;
}
.portafolio-display5{
    display: none;
    color: var(--white);
    background-color: var(--fucshia2);
    height: 100%;
    padding: 10px;
}
.portafolio-display6{
    display: none;
    color: var(--white);
    background-color: var(--fucshia2);
    height: 100%;
    padding: 10px;

}

.portafolio-display h2{
    padding-bottom: 20px;
}


@keyframes desliza {
    from {
      height:  0;
    }
    to {
      height:  100%;
    }
  }


.portafolio1:hover  .portafolio-display1{
    display: inline-block;
    animation:desliza 1s 0.5s  linear;
}


.portafolio2:hover  .portafolio-display2 {
    display: block;
    animation: desliza 1s 0.5s  linear;
}


.portafolio3:hover  .portafolio-display3{
    display: block;
    animation: desliza 1s 0.5s  linear;
}


.portafolio4:hover  .portafolio-display4{
    display: block;
    animation: desliza 1s 0.5s  linear;
}


.portafolio5:hover  .portafolio-display5{
    display: block;
    animation: desliza 1s 0.5s  linear;
}

.portafolio6:hover  .portafolio-display6{
    display: block;
    animation: desliza 1s 0.5s  linear;
}

.cuadro1{
    display: none;
    height: 99%;
    border: 1px solid var(--white);
}

.cuadro2{
    display: none;
    height: 99%;
    border: 1px solid var(--white);
}

.cuadro3{
    display: none;
    height: 99%;
    border: 1px solid var(--white);
}

.cuadro4{
    display: none;
    height: 99%;
    border: 1px solid var(--white);
}

.cuadro5{
    display: none;
    height: 99%;
    border: 1px solid var(--white);
}

.cuadro6{
    display: none;
    height: 99%;
    border: 1px solid var(--white);
}

.portafolio1:hover .cuadro1{
    display: block;
}


.portafolio2:hover   .cuadro2{
    display: block;
}



.portafolio3:hover  .cuadro3{
    display: block;
}

.portafolio4:hover  .cuadro4{
    display: block;
}


.portafolio5:hover .cuadro5{
    display: block;
}

.portafolio6:hover  .cuadro6{
    display: block;
}



.vista5{
    background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255,0.6)), url(asset/hero-image-customers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--whitetransparent);
}

.servicios-ofrecidos-vista5{
    position: relative;
    top: -180px;
    font-size: 1.2em;
}

.servicios-ofrecidos-vista5 .servicios-ofrecidos-hr{
    width: 100%;
}

.tarjeta{
    display: flex;
    font-size: 1.2em;
    text-align: center;
    padding: 0 35px 0 35px;
    width: 45%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--whitetransparent);
}

.img-tajeta{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.parrafo-tarjeta{
    padding-top: 15px;
    padding-bottom: 15px;
}

.tarjeta h3{
    color: var(--fucshia);
}

.parrafo-titulo{
    font-size: 0.9em;
}

.tarjeta span{
    display: inline-block;
}

.estrellas{
    margin-top: 30px;
    transform: scale(2.6);
}

.estrellas span{
    padding-right: 6.5px;
    padding-left: 6.5px;
}

.vista6{
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.contacto{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}


.caja-contacto{
    margin-top: 20px;
    height: 170px;
    width: 360px;
    padding-top: 50px;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 2px 2px 10px 0px var(--darkgray);
}

.servicios-ofrecidos-vista6{
    margin-top: 10px;
    font-size: 1.2em;
}

.servicios-ofrecidos-vista6 hr{
    width: 120px;
}

.textarea{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 2px 2px 10px 2px var(--darkgray);
    border-radius: 20px;
}

.textarea input{
    width: 49%;
    margin-bottom: 10px;
    padding-top: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 1.2em;
    padding-left: 2px;
}

.textarea textarea{
    font-size: 1.2em;
}

.textarea button{
    height: 45px;
    width: 200px;
    border-radius: 50px;
    font-size: 1.05em;
    background-color: var(--fucshia);
    color: white;
    border: 0px;
    margin: 0 auto;
    margin-top: 10px;
}

.textarea button:hover{
    background-color: var(--white);
    color: var(--fucshia);
    border: 1px solid var(--fucshia);
}